<div class="panel panel-primary" style="margin-bottom: 0px;">
	
	<head-bar bar-title='MyERP-凭证管理' ></head-bar>

	<div class="panel-body">
		<div class="form-group">
			<select id="preiod" class="form-control" data-style="common-select" ng-model="preiod" ng-options="preiod.period_id  as preiod.period_name for preiod in preiods">
			</select>
		</div>

		<div class="form-group">
			<input class="form-control" id="description" ng-model="description" placeholder="凭证抬头">
		</div>

		<div class=" form-group">
			<a ng-click="refresh()" class="btn btn-primary" style="width: 80px">查询</a> 
			<a href="#/itemDetailM" class="btn btn-info" style="width: 100px">凭证登记(简)</a> 
			<a href="#/itemDetailMMult" class="btn btn-warning" style="width: 80px">凭证登记</a>
		</div>

		<table id="table" data-id-field="id" data-side-pagination="server" data-height="350">
			<thead>
				<tr>
					<th data-width="25%" data-formatter="renerder" data-field="item_num" data-align="center">凭证号</th>
					<th data-width="27%" data-field="exp_time" data-align="center">费用日期</th>
					<th data-width="48%" data-field="description" data-align="left">凭证抬头</th>
				</tr>
			</thead>
		</table>

		<table id="detailTable" data-side-pagination="server" data-height="200">
			<thead>
				<tr>
					<th data-width="30%" data-field="account_name">科目名称</th>
					<th data-width="15%" data-field="dr_amount" data-align="center">借</th>
					<th data-width="15%" data-field="cr_amount" data-align="center">贷</th>
					<th data-width="40%" data-field="description" data-align="left">凭证描述</th>
				</tr>
			</thead>
		</table>
	</div>

	<script type="text/javascript">
		renerder = function(value, row, index) {
			return "<a href='#/itemDetailMMult?item_id=" + row.item_id
					+ "'>" + value + "</a>"
		}
	</script>
</div>