<div class="panel panel-primary" style="margin-bottom: 0px;">
	<div class="panel-heading" style="text-align: center;">
		<a href="#/login"><span style="float: left;width:20px;color:#fff;"><b>✖</b></span></a>
		<b>MyERP-功能菜单</b>
		<a href="#/menu"><span style="float: right;width:20px;color:#fff;"><b>☰</b></span></a>
	</div>
	<div class="panel-body" style="text-align: center; padding: 5px">
		<table style="width: 100%">
			<tr ng-repeat="menus in menusList">
				<td class="menuitem" style="text-align: center;"  ng-repeat="menu in menus">
				     <a href="{{menu.href}}" style="text-decoration:none"> 
				     <img style="margin: 15px;margin-bottom:5px; padding: 0px; width: 50px; height: 50px; border-radius: 35px;" ng-src="{{menu.icon}}"><br> 
				     <span style="margin-top: 3px;color:#111;">{{menu.name}}</span>
				     </a>
				</td>
			</tr>
		</table>
	</div>
</div>